* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #0e0e0e;
}

main {
    background-color: #1b1b1b;
    border-radius: 4px;
    overflow: hidden;
    max-width: 600px;
    width: 100%;
}

.main--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    color: white;
    background-color: #080808;
}

.main--header h1 {font-size: 1.3rem;}

.main--content {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    padding: 1.5rem;
    color: white;
}

.main--content code {
    font-family: "Consolas";
    padding: .3rem .5rem;
    background-color: #0e0e0e;
    font-size: .8rem;
}

.main--content textarea {
    resize: vertical;
    background-color: #0e0e0e;
    font-family: "Consolas";
    padding: 1rem;
    color: white;
    margin-top: 1rem;
    transition: all .3s;
}

.main--content textarea:focus {outline: none;}

.chronometer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.chronometer button {
    all: unset;
    cursor: pointer;
    background-color: #0e0e0e;
    font-size: .9rem;
    padding: .5rem .9rem;
    border: 1px solid #080808;
    transition: all .3s;
}

.chronometer button:hover {background-color: #080808;}

/* CHECKS */
.check--default {border: 1px solid #080808 !important;}
.check--waiting {border: 1px solid orange !important;}
.check--wrong {border: 1px solid rgb(243, 51, 45) !important}
.check--accept {border: 1px solid rgb(45, 243, 88) !important}
